/*LearnPress*/
body{
	background-color: var(--colorLight);
}

:root{
	--lp-primary-color: var(--colorMain) !important;
	--lp-cotainer-max-with: 1600px !important;
}

[class*=lp-content-area]:not(.learn-press-message):not(.lp-profile-content-area){
	padding-left: 0;
	padding-right: 0;
}

@media screen and (min-width: 61.5625em) {
	body:not(.search-results) article:not(.type-page) .entry-footer:not(:empty){
		display: block;
	}
}

#box #col .lp-button,
#box #col .comment-form [type=submit]{
	position: relative;
	border: 3px solid;
	border-color: transparent;
	display: inline-block;
	line-height: 1;
	font-size: var(--btn-fs);
	font-weight: normal;
	text-align: center;
	padding: 15px 23px 15px;
	border-radius: 1px;
	background-color: var(--colorDark);
	color: var(--colorLight);
	cursor: pointer;
	transition: color .25s, background-color .25s, border-color .25s ease-out, opacity .25s ease-out;
}

.btns-uppercase #box #col .lp-button,
.btns-uppercase #box #col .comment-form [type=submit]{
	text-transform: uppercase;
}

.btns-bold #box #col .lp-button,
.btns-bold #box #col .comment-form [type=submit]{
	font-weight: bold;
}

.btns-rounded #box #col .lp-button,
.btns-rounded #box #col .comment-form [type=submit]{
	border-radius: 6px;
}

.btns-round #box #col .lp-button,
.btns-round #box #col .comment-form [type=submit]{
	border-radius: 30px;
}

.btns-colormain #box #col .lp-button,
.btns-colormain #box #col .comment-form [type=submit]{
	background-color: var(--colorMain);
}

.btns-colormain #box #col .lp-button:hover,
.btns-colormain #box #col .comment-form [type=submit]:hover{
	background-color: var(--colorDark);
}

.btns-outline #box #col .lp-button,
.btns-outline #box #col .comment-form [type=submit]{
	background-color: transparent;
	color: var(--colorDark);
	border-color: var(--colorDark);
}

.btns-outline #box #col .lp-button:hover,
.btns-outline #box #col .comment-form [type=submit]:hover{
	background-color: var(--colorDark);
	color: var(--colorLight);
}

.btns-colormain.btns-outline #box #col .lp-button,
.btns-colormain.btns-outline #box #col .comment-form [type=submit]{
	color: var(--colorMain);
	border-color: var(--colorMain);
}

.btns-colormain.btns-outline #box #col .lp-button:hover,
.btns-colormain.btns-outline #box #col .comment-form [type=submit]:hover{
	background-color: var(--colorMain);
	color: var(--colorLight);
}

.btns-big #box #col .lp-button,
.btns-big #box #col .comment-form [type=submit]{
	padding: 20px 23px 20px;
}

.lp-label{
	color: var(--colorDarkMuted);
}

.lp-modal-dialog .lp-modal-content{
	background-color: var(--colorLight);
	color: var(--colorFont);
}

.lp-modal-dialog .lp-modal-content .lp-modal-header{
	background-color: var(--colorMain);
	border-color: var(--colorBorder);
	color: #fff;
	padding-left: 2em;
	padding-right: 2em;
}

.lp-modal-dialog .lp-modal-content .lp-modal-header h3{
	color: #fff;
}

.lp-modal-dialog .lp-modal-content .lp-modal-footer{
	background-color: var(--colorLight);
	color: var(--colorFont);
}

.lp-modal-dialog .lp-modal-content .main-content{
	padding-top: 20px;
	padding-bottom: 10px;
}

.lp-modal-dialog .lp-button{
	position: relative;
	border: 3px solid;
	border-color: transparent;
	display: inline-block;
	line-height: 1;
	font-size: var(--btn-fs);
	font-weight: normal;
	text-align: center;
	padding: 15px 23px 15px;
	border-radius: 1px;
	background-color: var(--colorDark);
	color: var(--colorLight);
	cursor: pointer;
	transition: color .25s, background-color .25s, border-color .25s ease-out, opacity .25s ease-out;
}

.lp-modal-dialog .lp-button:hover{
	background-color: var(--colorMain);
	border-color: var(--colorMain);
}

#box .learn-press-message{
	border-radius: 0;
}

#box .learn-press-message:after{
	border-bottom-color: var(--colorBackground);
}

#box .learn-press-progress .progress-bg{
	background-color: var(--colorBackground);
}

#box .learn-press-progress:before{
	background-color: var(--colorLight);
}

#box .learn-press-message{
	background-color: var(--colorBackground);
}

#box .learn-press-form .form-fields .form-field input[type=checkbox] + .description{
	display: inline;
}

#box .learn-press-breadcrumb{
	display: none;
}

#box .switch-layout .switch-btn::before{
	color: var(--colorDarkMuted);
}

#box .switch-layout input[type=radio]:checked + label{
	background-color: var(--colorBackground);
}

#box .switch-layout input[type=radio]:checked + label::before{
	color: var(--colorMain);
}

#box .lp-courses-bar .search-courses input[type=text]{
	border-color: var(--colorBorder);
	background-color: var(--colorLight);
	font-style: inherit;
}

#box .course-content .course-instructor a{
	color: var(--colorMain);
}

#box .course-permalink .course-title{
	color: var(--colorDarkMuted);
}

#box .course-content .course-wrap-meta{
	color: var(--colorFontMuted);
}

#box .course-info,
#box .course-excerpt{
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
}

#box .learn-press-courses[data-layout=list] .course{
	background-color: var(--colorLight);
	border-color: var(--colorBorder);
}

#box .learn-press-courses[data-layout=list] .course-readmore a{
	background-color: var(--colorMain);
}

#box .learn-press-courses[data-layout=grid] .course-item,
#box .learn-press-courses[data-layout=grid] .course-footer,
#box .learn-press-courses[data-layout=grid] .course-content{
	border-color: var(--colorBorder);
	background-color: var(--colorLight);
}

#box .learn-press-courses[data-layout=grid] .course-content{
	display: flex;
	flex-direction: column;
}

#box .learn-press-courses[data-layout=grid] .course-content .separator,
#box .learn-press-courses[data-layout=grid] .course-content .clearfix{
	display: none;
}

#box .learn-press-courses[data-layout=grid] .course-content .course-permalink{
	margin-bottom: 0;
}

#box .learn-press-courses[data-layout=grid] .course-content .course-wrap-meta{
	order: -1;
	display: flex;
	gap: 16px;
	margin: 0 0 12px;
}

#box .learn-press-courses[data-layout=grid] .course-content .course-wrap-meta .meta-item-duration,
#box .learn-press-courses[data-layout=grid] .course-content .course-wrap-meta .meta-item-level,
#box .learn-press-courses[data-layout=grid] .course-content .course-wrap-meta .meta-item-quiz{
	display: none;
}

#box .learn-press-courses[data-layout=grid] .course-content .course-footer{
	padding-top: 0;
}

#box .learn-press-courses[data-layout=grid] .course-content .course-info{
	margin-top: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#box .learn-press-courses[data-layout=grid] .course-content .course-readmore{
	display: flex;
	flex: 1 1;
	justify-content: flex-end;
}

#box .learn-press-courses[data-layout=grid] .meta-item > div{
	display: inline-block;
}

#box .learn-press-courses[data-layout=grid] .meta-item::before{
	position: relative;
	top: -1px;
	margin-right: 8px;
	color: var(--lp-primary-color);
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}

#box .learn-press-courses[data-layout=grid] .meta-item-level::before{
	content: '\f012';
}

#box .learn-press-courses[data-layout=grid] .meta-item-duration::before{
	content: '\f017';
}

#box .learn-press-courses[data-layout=grid] .meta-item-lesson::before{
	content: '\f0c5';
}

#box .learn-press-courses[data-layout=grid] .meta-item-quiz::before{
	content: '\f12e';
}

#box .learn-press-courses[data-layout=grid] .meta-item-student::before{
	content: '\f501';
}

.lp-archive-courses .course-detail-info::before,
.lp-archive-courses .course-detail-info::after{
	display: none;
}

#learn-press-profile #profile-nav .lp-profile-nav-tabs > li > a > i,
.course-extra-box__content li::before,
.meta-item::before,
.section-item-link::before{
	color: var(--colorMain);
}

#learn-press-profile #profile-nav .lp-profile-nav-tabs > li > a:after{
	color: var(--colorFontMuted);
}

.lp-user-profile #profile-nav .lp-profile-nav-tabs > li ul li:hover > a i{
	background: transparent;
}

.lp-user-profile #profile-nav .lp-profile-nav-tabs > li.wishlist:hover a::before{
	color: var(--colorMain);
}

.lp-user-profile #profile-content-wishlist .learn-press-wishlist-courses li .course-title h3{
	color: var(--colorDarkMuted);
	margin: 0;
}

.lp-user-profile .lp-profile-username::before,
.lp-user-profile .lp-profile-username::after{
	background-color: var(--colorBorder);
}

.course-learning-summary > div{
	margin-bottom: 2em;
}

.single-course-info .lp-course-buttons{
	margin: 1em 0 .5em;
}

.single-course-info .learn-press-course-results-progress .items-progress,
.single-course-info .learn-press-course-results-progress .course-progress{
	float: none;
	width: 100%;
}

ul.learn-press-nav-tabs{
	border-color: var(--colorBorder);
	margin-bottom: 0;
	background-color: transparent;
	position: relative;
	top: 1px;
}

ul.learn-press-nav-tabs .course-nav{
	border-color: var(--colorBorder);
}

ul.learn-press-nav-tabs .course-nav a{
	border: 1px solid var(--colorBorder);
	border-bottom-width: 0;
	background: var(--colorLight);
	margin-right: 3px;
	margin-bottom: -1px;
	position: relative;
}

ul.learn-press-nav-tabs .course-nav:first-child.active:after,
ul.learn-press-nav-tabs .course-nav:last-child.active::after{
	display: none;
}

ul.learn-press-nav-tabs .course-nav.active,
ul.learn-press-nav-tabs .course-nav:hover{
	background-color: var(--colorBackground);
}

ul.learn-press-nav-tabs .course-nav.active:after,
ul.learn-press-nav-tabs .course-nav.active:after,
ul.learn-press-nav-tabs .course-nav:hover:after,
ul.learn-press-nav-tabs .course-nav:hover:after{
	background-color: var(--colorMain);
	bottom: auto;
	width: auto;
	top: -1px;
	left: 0;
	right: 0;
	height: 4px;
	content: '';
	position: absolute;
}

ul.learn-press-nav-tabs .course-nav:hover:not(.active) label{
	border-bottom-color: var(--colorBorder) !important;
}

#box #learn-press-course-tabs .course-nav label{
	border: 1px solid transparent;
	background-color: transparent;
	color: var(--colorDarkMuted);
}

#box #learn-press-course-tabs .course-nav.active label{
	background-color: var(--colorLight);
	border-color: var(--colorBorder);
	border-bottom-color: transparent;
}

#box #learn-press-course-tabs .course-tab-panel{
	border: 1px solid var(--colorBorder);
	background-color: var(--colorLight);
	padding: 1.5em;
}

@media (min-width: 992px) {
	#box #learn-press-course-tabs .course-tab-panel{
		padding: 3em;
	}
}

#box #learn-press-course-tabs .course-tab-panel .course-description p{
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
}

@media (min-width: 768px) {
	.course-flex-1-3{
		display: flex;
		align-items: flex-start;
	}

	.course-info-wrap{
		width: 70%;
	}
}

#box .course-summary .course-detail-info{
	background-color: var(--colorBackground);
	color: var(--colorFont);
}

@media (max-width: 1024px) {
	#box .course-summary .course-detail-info{
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (min-width: 768px) {
	#box .course-summary .course-detail-info{
		padding-left: 30px;
	}
}

#box .course-summary .course-detail-info .course-title{
	color: var(--colorDarkMuted);
}

#box .course-summary .course-detail-info a{
	color: var(--colorDarkMuted);
}

#box .course-summary .course-detail-info label{
	color: var(--colorFontMuted);
}

div.course-curriculum ul.curriculum-sections{
	background-color: transparent;
}

div.course-curriculum ul.curriculum-sections .section-header{
	border-color: var(--colorBorder);
	background-color: transparent;
	border-bottom-width: 2px;
	padding: .5em 0 0;
	cursor: pointer;
}

div.course-curriculum ul.curriculum-sections .section-header .section-desc{
	color: var(--colorFontMuted);
	font-size: 1rem;
	line-height: 1.4;
	margin: .5em 0 1em !important;
}

div.course-curriculum ul.curriculum-sections .section-left .section-title{
	color: var(--colorDarkMuted) !important;
	font-size: 1.2em;
}

div.course-curriculum ul.curriculum-sections .section-content .course-item{
	font-size: inherit;
	background: transparent !important;
	border-bottom-color: var(--colorBorder);
	padding: 0;
}

div.course-curriculum ul.curriculum-sections .section-content .course-item.current{
	background-color: var(--colorBackground);
}

div.course-curriculum ul.curriculum-sections .section-content .course-item .section-item-link:before{
	font-size: inherit;
}

div.course-curriculum ul.curriculum-sections .section-content .course-item .item-name,
div.course-curriculum ul.curriculum-sections .section-content .course-item .course-item-meta{
	color: var(--colorDarkMuted);
	transition: color .2s ease;
}

div.course-curriculum ul.curriculum-sections .section-content .course-item .item-name:hover{
	color: var(--colorMain);
}

div.course-curriculum ul.curriculum-sections .section-content .course-item .course-item-meta .course-item-status:before{
	font-size: inherit;
}

div.course-curriculum ul.curriculum-sections .section-content .course-item.item-locked .course-item-status:before{
	color: var(--colorDarkMuted);
}

#box .lp-course-author{
	margin-bottom: 0;
}

#box .lp-course-author a{
	color: var(--colorDarkMuted);
}

#box .lp-course-author .author-description{
	color: var(--colorFont);
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
}

.course-price .origin-price,
.course-price .price{
	color: var(--colorDarkMuted);
}

.course-featured-review .featured-review__content{
	color: var(--colorFontMuted);
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
}

.course-featured-review .featured-review__content:after{
	line-height: 0;
}

.course-summary-sidebar .course-summary-sidebar__inner .course-sidebar-top{
	background-color: var(--colorLight);
	box-shadow: 0 0 20px 0 rgba(100, 100, 100, .15);
}

.course-summary-sidebar .course-sidebar-preview{
	background-color: var(--colorLight);
}

.course-summary-sidebar .course-sidebar-preview .course-time{
	border-color: var(--colorBorder);
}

.course-summary-sidebar .course-sidebar-preview .course-time-row{
	color: var(--colorFont);
}

.course-summary-sidebar .course-sidebar-preview .course-time-row:last-child:after{
	display: none;
}

.course-summary-sidebar .course-sidebar-preview .course-time-row time{
	color: var(--colorFont);
}

.course-summary-sidebar .course-sidebar-preview .course-time-row strong{
	color: var(--colorDarkMuted);
}

.course-summary-sidebar .course-sidebar-preview .course-results-progress .items-progress__heading,
.course-summary-sidebar .course-sidebar-preview .course-results-progress .course-progress__heading{
	color: var(--colorDarkMuted);
}

.course-summary-sidebar .course-sidebar-preview .course-results-progress .number{
	color: var(--colorFont);
}

.course-extra-box__title{
	background-color: var(--colorBackground);
}

.course-tab-panel-faqs .course-faqs-box,
.course-extra-box,
.course-extra-box__content li{
	border-color: var(--colorBorder);
}

.course-tab-panel-faqs .course-faqs-box:hover,
input[name=course-faqs-box-ratio]:checked + .course-faqs-box{
	background-color: var(--colorBackground);
}

#box .course-faqs-box__content-inner,
#box .course-extra-box__content li{
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	color: inherit;
}

.course-tab-panel-faqs .course-faqs-box:hover .course-faqs-box__title,
input[name=course-faqs-box-ratio]:checked + .course-faqs-box .course-faqs-box__title{
	color: var(--colorMain);
}

.course-rate .course-rate__summary-value{
	color: var(--colorDarkMuted);
}

.course-rate .course-rate__summary-text{
	color: var(--colorFontMuted);
}

.course-rate .course-rate__details-row .course-rate__details-row-star .rating-count,
.course-rate .course-rate__details-row .course-rate__details-row-value .rating-count{
	color: var(--colorDarkMuted);
}

.course-rate .course-rate__details-row .course-rate__details-row-value .rating-gray{
	background-color: var(--colorBackground);
}

.learnpress-course-review .course-reviews-list li{
	background-color: var(--colorBackground);
	border-color: var(--colorBorder);
}

.comment-respond .comment-reply-title{
	font-size: 1.25em;
}

.comment-respond .comment-form > p.comment-notes,
.comment-respond .comment-form > p.logged-in-as{
	color: var(--colorFontMuted);
}

.comment-respond .comment-form > p.logged-in-as a{
	color: var(--colorDarkMuted);
	text-decoration: none;
}

.comment-respond .comment-form textarea,
.comment-respond .comment-form input{
	border-color: var(--colorBorder);
}

@media (min-width: 576px) {
	.comment-respond .comment-form .comment-form-author,
	.comment-respond .comment-form .comment-form-email{
		width: 50%;
	}
}

#popup-course{
	background-color: var(--colorLight);
}

#popup-course .back-course{
	color: var(--colorDarkMuted);
}

#popup-course #sidebar-toggle{
	background-color: var(--colorBackground);
}

#popup-course #sidebar-toggle:before{
	color: var(--colorMain);
}

#popup-course #popup-header{
	color: var(--colorDarkMuted);
	background-color: var(--colorBackground);
	border: none;
}

#popup-course #popup-header .popup-header__inner .course-title a{
	color: var(--colorDarkMuted);
}

#popup-course #popup-header .items-progress .number{
	color: var(--colorDarkMuted);
}

#popup-course #popup-sidebar .search-course{
	background-color: var(--colorBackground);
}

#popup-course #popup-sidebar .search-course button::before{
	color: var(--colorDarkMuted);
}

#popup-course #popup-sidebar .search-course input[name=s]{
	color: var(--colorDarkMuted);
}

#popup-course #popup-sidebar .search-course.searching::after{
	border-bottom-color: var(--colorLight);
}

#popup-course #popup-sidebar .course-curriculum .section .section-content .course-item .item-meta{
	color: var(--colorFontMuted);
}

#popup-course #learn-press-course-curriculum{
	background: var(--colorLight);
	border-color: var(--colorBorder);
}

#popup-course #learn-press-course-curriculum .curriculum-scrollable{
	padding: 10px 20px;
}

#popup-course #learn-press-course-curriculum .section-header{
	padding-top: 10px;
	padding-bottom: 14px;
	background-color: var(--colorLight);
}

#popup-course #learn-press-course-curriculum .current{
	background: var(--colorBackground) !important;
}

#popup-course #popup-content #learn-press-content-item .course-item-title{
	color: var(--colorDarkMuted);
}

#popup-course #popup-content #learn-press-content-item p{
	color: var(--colorFont);
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
}

#popup-course #popup-content .lp-button.completed i{
	margin: 0 1em 0 0;
	font-size: 1em;
}

#popup-course #popup-footer{
	background-color: var(--colorLight);
	border-color: var(--colorBorder);
}

#popup-course #popup-footer .course-item-nav .prev:before,
#popup-course #popup-footer .course-item-nav .next:before{
	color: var(--colorDarkMuted);
}

#popup-course #popup-footer .course-item-nav .prev a,
#popup-course #popup-footer .course-item-nav .next a{
	color: var(--colorDarkMuted);
}

#popup-course .quiz-intro-item::before{
	color: var(--colorMain);
}

#popup-course .quiz-intro-item__title{
	color: var(--colorFontMuted);
}

#popup-course .quiz-intro-item__content{
	color: var(--colorDarkMuted);
}

#popup-course .quiz-progress{
	background-color: var(--colorBackground);
}

#popup-course .quiz-progress .progress-items .progress-item{
	color: var(--colorDarkMuted);
}

#popup-course .quiz-status > div{
	background-color: var(--colorBackground);
}

#popup-course .quiz-status .questions-index{
	color: var(--colorFont);
}

#popup-course .quiz-status .questions-index span{
	color: var(--colorDarkMuted);
}

#popup-course .quiz-status .countdown{
	color: var(--colorDarkMuted);
	background-color: var(--colorBackground);
}

#popup-course .quiz-status .countdown .fas{
	color: var(--colorDarkMuted);
}

#popup-course .question .question-title{
	color: var(--colorDarkMuted);
}

#popup-course .answer-options .answer-option{
	margin: 1em 0;
	background-color: var(--colorBackground);
	color: var(--colorDarkMuted);
}

#popup-course .answer-options .answer-option .option-title{
	background-color: var(--colorBackground);
	color: var(--colorFont);
	border-color: var(--colorBorder);
}

#popup-course .answer-options .answer-option .option-title:before{
	background-color: var(--colorBorder);
}

#popup-course .answer-options .answer-option:hover{
	background-color: var(--colorBackground);
}

#popup-course .answer-options .answer-option:hover .option-title:before{
	background-color: var(--colorMain);
}

#popup-course .answer-options .answer-option input[type=checkbox],
#popup-course .answer-options .answer-option input[type=radio]{
	background-color: var(--colorLight);
	border-color: var(--colorBorder);
	font-size: 1rem;
}

#popup-course .answer-options .answer-option input[type=checkbox]:after,
#popup-course .answer-options .answer-option input[type=radio]:after{
	border-color: var(--colorMain);
}

#popup-course .answer-options .answer-option input[type=checkbox]:checked ~ .option-title:before,
#popup-course .answer-options .answer-option input[type=radio]:checked ~ .option-title:before{
	background-color: var(--colorMain);
}

#popup-course .lp-quiz-buttons{
	margin: 2em 0;
}

#popup-course .quiz-result{
	margin: 2em auto;
}

#popup-course .quiz-result .result-message{
	background-color: var(--colorBackground);
}

#popup-course .quiz-result .result-statistic .result-statistic-field span{
	color: var(--colorDarkMuted);
}

#popup-course .quiz-result .result-achieved{
	border-color: var(--colorMain);
}

#popup-course .quiz-result.failed .result-achieved{
	color: var(--colorMain);
}

#popup-course .quiz-result .result-require{
	margin: .5em 0;
	color: var(--colorDarkMuted);
}

#popup-course .quiz-result .result-grade .result-message{
	font-size: inherit;
	color: var(--colorDarkMuted);
}

#popup-course #learn-press-quiz-app .questions-pagination{
	background-color: transparent !important;
}

#popup-course .learn-press-form .button-complete-item{
	margin-top: 2em;
}

#box .lp-list-instructors .ul-list-instructors li.item-instructor{
	border-color: var(--colorBorder);
}

#box .lp-list-instructors .ul-list-instructors li.item-instructor .instructor-btn-view{
	position: relative;
	border: 3px solid;
	border-color: transparent;
	display: inline-block;
	line-height: 1;
	font-size: var(--btn-fs);
	font-weight: normal;
	text-align: center;
	padding: 15px 23px 15px;
	border-radius: 1px;
	background-color: var(--colorDark);
	color: var(--colorLight);
	cursor: pointer;
	transition: color .25s, background-color .25s, border-color .25s ease-out, opacity .25s ease-out;
	width: 100%;
}

#box .lp-list-instructors .ul-list-instructors li.item-instructor .lp-ico{
	color: var(--colorMain);
}

#box .lp-single-instructor__info{
	border-color: var(--colorBorder);
}

#box .lp-single-instructor__info svg{
	color: var(--colorMain);
}

#box .lp-single-instructor .course-count svg{
	color: var(--colorMain);
}

#box .lp-single-instructor .ul-instructor-courses h3{
	border-color: var(--colorBorder);
}

#box #learn-press-user-profile .learn-press-form-login,
#box #learn-press-user-profile .learn-press-form-register,
#box #learn-press-checkout-login,
#box #learn-press-checkout-register{
	border-color: var(--colorBorder);
	background-color: var(--colorLight);
	padding: 1.5em;
}

#box #learn-press-profile{
	background-color: transparent;
}

#box #learn-press-profile .wrapper-profile-header{
	background-color: var(--colorBackground);
	color: inherit;
	margin: 0;
}

#box #learn-press-profile .wrapper-profile-header .lp-profile-left{
	border-color: var(--colorBorder);
	background-color: var(--colorLight);
}

#box #learn-press-profile #profile-sidebar{
	background-color: var(--colorLight);
	border-color: var(--colorBorder);
}

#box #learn-press-profile #profile-nav .lp-profile-nav-tabs > li{
	border-color: var(--colorBorder);
}

#box #learn-press-profile #profile-nav .lp-profile-nav-tabs > li a{
	color: var(--colorDarkMuted);
}

#box #learn-press-profile #profile-nav .lp-profile-nav-tabs > li > ul{
	background-color: var(--colorLight);
}

#box #learn-press-profile #profile-nav .lp-profile-nav-tabs > li ul li a{
	border-color: var(--colorBorder);
}

#box #learn-press-profile #profile-nav .lp-profile-nav-tabs > li ul li a:hover{
	background-color: var(--colorBackground);
}

#box #learn-press-profile #profile-nav .lp-profile-nav-tabs li.active,
#box #learn-press-profile #profile-nav .lp-profile-nav-tabs li:hover{
	background-color: var(--colorBackground);
}

#box #learn-press-profile #profile-nav li.active > ul .active{
	background-color: var(--colorBackground);
}

@media (max-width: 560px) {
	#box #learn-press-profile #profile-nav .lp-profile-nav-tabs > li > a:after{
		position: absolute;
	}
}

#box #learn-press-profile .dashboard-statistic__row{
	justify-content: flex-start;
}

#box #learn-press-profile .dashboard-statistic__row .statistic-box{
	border-color: var(--colorBorder);
	background-color: var(--colorLight);
}

#box #learn-press-profile .dashboard-statistic__row .statistic-box:hover{
	background-color: var(--colorBackground);
}

#box #learn-press-profile .dashboard-statistic__row .statistic-box .statistic-box__text{
	color: var(--colorDarkMuted);
}

#box #learn-press-profile .dashboard-statistic__row .statistic-box .statistic-box__number{
	color: var(--colorMain);
}

#box #learn-press-profile #dashboard-general-statistic{
	border-color: var(--colorBorder);
}

#box #learn-press-profile .profile-courses > h3{
	color: var(--colorDarkMuted);
}

#box .learn-press-tabs{
	background-color: var(--colorBackground);
}

#box .learn-press-tabs .learn-press-tabs__nav{
	border-color: var(--colorBorder);
}

#box .learn-press-tabs .learn-press-tabs__nav .learn-press-tabs__tab{
	border-color: var(--colorBorder);
	background-color: transparent;
}

#box .learn-press-tabs .learn-press-tabs__nav .learn-press-tabs__tab.active::before{
	background-color: var(--colorMain);
}

#box .learn-press-tabs .learn-press-tabs__nav .learn-press-tabs__tab:first-child.active label::before{
	display: none;
}

#box .learn-press-tabs .learn-press-tabs__nav .learn-press-tabs__tab.active{
	background-color: var(--colorLight);
}

#box .learn-press-tabs .learn-press-tabs__nav .learn-press-tabs__tab:after{
	display: none;
}

#box .learn-press-tabs .learn-press-tabs__nav .learn-press-tabs__tab label a{
	color: var(--colorDarkMuted);
}

#box div.order-recover input[type=text]{
	padding: .15em .75em;
	min-height: 40px;
	border: 1px solid;
	border-color: var(--colorBorder);
	background-color: var(--colorLight);
	box-shadow: none;
}

#box .recover-order__description{
	color: var(--colorFontMuted);
}

#box #learn-press-profile-basic-information label{
	color: var(--colorDarkMuted);
	font-weight: inherit;
	font-style: inherit;
	font-size: .92em;
	margin: 0;
}

#box .learn-press-filters > li a{
	color: var(--colorDarkMuted);
}

#box .learn-press-filters > li span{
	color: var(--colorMain);
}

#box .learn-press-filters > li:after{
	color: var(--colorBorder);
}

#box .lp-list-table tbody,
#box .lp-list-table tfoot{
	border-color: var(--colorBorder);
}

#box .lp-list-table thead,
#box .lp-list-table thead tr th{
	background-color: var(--colorBackground);
	color: var(--colorDarkMuted);
	border-color: var(--colorBorder);
}

#box .learn-press-profile-course__progress .lp_profile_course_progress__item td,
#box .learn-press-profile-course__progress .lp_profile_course_progress__item th{
	border-color: var(--colorBorder);
}

#box .lp-profile-content table.lp-list-table,
#box .lp-profile-content table.lp-list-table tr td{
	border-color: var(--colorBorder);
	background-color: var(--colorLight);
	color: var(--colorFont);
}

#box .lp-profile-content table.lp-list-table tr th{
	border-color: var(--colorBorder);
	background-color: var(--colorBackground);
	color: var(--colorDarkMuted);
}

#box .lp-user-profile #profile-nav .lp-profile-nav-tabs > li ul li a i,
#box .lp-user-profile #profile-nav .lp-profile-nav-tabs li.active > ul .active > a i{
	color: var(--colorMain);
}

#box .lp-user-profile #profile-content-settings .learn-press-form .form-fields .form-field label{
	color: var(--colorDarkMuted);
}

#box .lp-user-profile #profile-content-settings .learn-press-form .form-fields .form-field .form-field-input input{
	border-color: var(--colorBorder);
	color: var(--colorFont);
}

#box .learnpress_avatar__form__upload{
	background-color: var(--colorBackground);
	border-color: var(--colorBorder);
	color: var(--colorFont);
}

#box .lp-content-wrap{
	max-width: none;
	width: 100%;
}

#box .lp-content-wrap > h2{
	color: var(--colorDarkMuted);
}

#box .lp-checkout-form__before .lp-checkout-block h4,
#box .lp-checkout-form__after .lp-checkout-block h4{
	color: var(--colorDarkMuted);
}

#box #learn-press-checkout-form a{
	color: var(--colorDarkMuted);
}

#box #learn-press-checkout-form a:hover{
	color: var(--colorMain);
}

#box .lp-terms-and-conditions{
	color: var(--colorFontMuted);
	font-size: .92em;
	font-weight: inherit;
	line-height: inherit;
}

#box .lp-checkout-form .lp-form-fields input:not([type=checkbox]){
	border-color: var(--colorBorder);
}

#box #checkout-order .lp-checkout-order__inner{
	border-color: var(--colorBorder);
}

#box #checkout-order th,
#box #checkout-order td{
	font-weight: inherit;
	border-color: var(--colorBorder);
}

#box #checkout-order .cart-subtotal,
#box #checkout-order .col-number{
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
}

#box #checkout-order .order-total th{
	font-size: inherit;
	font-weight: 700;
	line-height: inherit;
	color: inherit;
}

#box #checkout-order .order-total .col-number{
	font-size: inherit;
	color: var(--colorDarkMuted);
	font-weight: 700;
}

#box .lp-widget .lp-course-info-fields .lp-course-info .lp-label{
	background-color: var(--colorMain);
}

#box .lp-course-info-fields{
	padding: 0;
}

#box .widget .course-entry .course-cover img{
	width: 100%;
}

#box .widget .course-entry .course-title{
	font-size: 1.15em;
	margin: 1em 0 .5em;
}

#box .widget .course-entry .course-meta-field{
	margin: .5em 0;
}

#box .widget .course-entry .course-meta-field:not(.course-student-number):not(.course-lesson-number){
	color: var(--colorMain);
	font-weight: bold;
}

#box .widget .course-entry + .course-entry{
	margin-top: 1em;
	padding-top: 1.5em;
	border-top: 1px solid var(--colorBorder);
}

#box .widget .side-image .course-entry .course-cover{
	float: left;
	max-width: 80px;
	margin-right: 1em;
}

#box .widget .side-image .course-entry .course-detail{
	overflow: hidden;
}

#box .widget .side-image .course-entry .course-detail .course-title{
	margin-top: 0;
}

#box .widget .side-image .course-entry + .course-entry{
	margin-top: .5em;
	padding-top: 1em;
}

#box [class*=lp-widget] .widget-footer .pull-right:after{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 8px;
	margin-left: 1em;
	position: relative;
	bottom: .15em;
	content: '\f054';
}