/* --- Block Styles
-------------------------------------------------------- */

/* --- WP Block Button Style
-------------------------------------------------------- */

.wp-block-fse-pro-case-study a svg.icon {
  display: none;
}

.wc-block-components-drawer__close-wrapper button {
  margin-top: 15px;

  &:is(:hover, :focus) {
    border-color: transparent;
  }
}

h2.wc-block-mini-cart__title {
  font-size: var(--wp--preset--font-size--body-default);
}

.wp-block-button.is-style-outline>.wp-block-button__link:not(.has-text-color) {

  &:is(:hover, :focus) {

    &:after {
      color: var(--wp--preset--color--button-text-color);
    }
  }
}

.wp-block-button.is-style-outline .has-background.wp-block-button__link:not(:hover) {
  border-color: inherit;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
  color: var(--wp--preset--color--hover-color);
}

.wc-block-cart-item__quantity .wc-block-components-quantity-selector .wc-block-components-quantity-selector__button {
  &:is(:focus, :hover) {
    @include border(0)
  }
}

.wc-block-cart__submit-container .wp-element-button,
.woocommerce-page .button,
.wc-block-checkout__actions_row .wc-block-components-checkout-place-order-button {
  position: relative;
  overflow: hidden;

  &:is(:hover, :focus) {
    border: 1px solid var(--wp--preset--color--hover-color);
    background: transparent;
    box-shadow: none;
    @include border(45px);
  }

  &:after {
    content: "\2199";
    font-size: 30px;
    font-family: inherit;
    font-weight: 400;
    display: block;
    transition: 0.5s;
    position: absolute;
    opacity: 1;
    right: 23px;
    color: var(--wp--preset--color--title-color);
    top: 50%;
    @include transform(translateY(-50%) rotate(226deg) scale(1.3));
  }
}

.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link.added,
.wp-block-button__link.wp-element-button,
.wc-block-mini-cart__footer-actions .components-button,
.wc-block-checkout__actions_row .wc-block-components-checkout-place-order-button,
.wc-block-cart__submit-container .wp-element-button,
.woocommerce-page .button {
  position: relative;
  overflow: hidden;

  &:is(:hover, :focus) {


    &:after {
      color: var(--wp--preset--color--hover-color);
    }
  }

  &:after {
    content: "\2199" !important;
    font-size: 30px;
    font-family: inherit;
    transition: 0.5s;
    position: absolute;
    opacity: 1;
    top: 50%;
    @include transform(translateY(-50%) rotate(226deg) scale(1.3));
    right: 23px;
    font-weight: 400;

  }
}

.wp-block-button.is-style-sportspot-button .wp-block-button__link,
.wp-block-post-excerpt__more-link {
  text-decoration: none;
  border: none;
  position: relative;
  background: transparent;
  padding: 0;
  padding-right: 30px;

  &:hover,
  &:focus {
    background: transparent;
    box-shadow: none;
    color: var(--wp--preset--color--hover-color);
    transform: none;

    &:after {
      color: var(--wp--preset--color--hover-color);
    }
  }

  &:after {
    content: "\2199";
    font-size: 30px;
    font-family: inherit;
    transition: 0.5s;
    position: absolute;
    opacity: 1;
    top: 50%;
    @include transform(translateY(-50%) rotate(226deg) scale(1.3));
    right: 0;
    font-weight: 400;
  }

}

body .wp-block-buttons {
  margin-top: 0;
}


/* --- WP Block Post Author Style
-------------------------------------------------------- */

.is-style-sportspot-post-author-card,
.is-style-sportspot-post-author-card {
  border: 0;
  padding: var(--wp--custom--spacing--section-heading);
}

.is-style-sportspot-post-author-card.wp-block-post-author .wp-block-post-author__content,
.is-style-sportspot-post-author-card.wp-block-post-author .wp-block-post-author__content {
  padding-left: 10px;
}

.is-style-sportspot-post-author-card.wp-block-post-author .wp-block-post-author__bio,
.is-style-sportspot-post-author-card.wp-block-post-author .wp-block-post-author__bio {
  font-size: var(--wp--custom--typography--font-size--heading-six);
  line-height: var(--wp--custom--typography--line-height--heading-six);
}

.is-style-sportspot-post-author-card.wp-block-post-author .wp-block-post-author__name,
.is-style-sportspot-post-author-card.wp-block-post-author .wp-block-post-author__name {
  font-size: var(--wp--preset--font-size--body-default);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  line-height: var(--wp--custom--typography--line-height--paragraph);
  color: var(--wp--preset--color--title-color);
  font-family: var(--wp--preset--font-family--russo-one);
}

.wp-block-post-author__byline {
  font-size: inherit;
}

.is-style-sportspot-post-author-card.wp-block-post-author .wp-block-post-author__avatar>.avatar,
.is-style-sportspot-post-author-card.wp-block-post-author .wp-block-post-author__avatar>.avatar {
  border-radius: 50%;
}

/* --- WP Block Post Comments Style
-------------------------------------------------------- */

.wp-block-post-comments.is-style-sportspot-post-comments .commentlist>li>.children>li article,
.comment article,
.wp-block-post-comments.is-style-sportspot-post-comments .commentlist>li>.children>li article,
.wp-block-post-comments.is-style-sportspot-post-comments .commentlist>li>article {
  padding-bottom: var(--wp--custom--spacing--wp-block-navigation-block);
}

.wp-block-post-comments.is-style-sportspot-post-comments .commentlist>li>article {
  padding-top: 0;
}

.wp-block-post-comments.is-style-sportspot-post-comments .commentlist .comment-body>*:last-child,
.wp-block-post-comments.is-style-sportspot-post-comments .comment-respond>*:last-child,
.wp-block-post-comments.is-style-sportspot-post-comments .comment-respond .comment-form>*:last-child,
.wp-block-post-comments.is-style-sportspot-post-comments .comment-respond .comment-form>P:last-of-type,
.wp-block-post-comments.is-style-sportspot-post-comments .commentlist .comment-body>*:last-child,
.wp-block-post-comments.is-style-sportspot-post-comments .comment-respond>*:last-child,
.wp-block-post-comments.is-style-sportspot-post-comments .comment-respond .comment-form>*:last-child,
.wp-block-post-comments.is-style-sportspot-post-comments .comment-respond .comment-form>P:last-of-type {
  margin-bottom: 0;
}

.wp-block-post-comments.is-style-sportspot-post-comments .comment-author,
.wp-block-post-comments.is-style-sportspot-post-comments .comment-author {
  color: var(--wp--preset--color--foreground);
  font-size: var(--wp--preset--font-size--body-default);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  line-height: var(--wp--custom--typography--line-height--paragraph);
  margin-bottom: 7px;
}

.wp-block-post-comments.is-style-sportspot-post-comments .comment-content,
.wp-block-post-comments.is-style-sportspot-post-comments .comment-content {
  margin-top: 20px;
}

.wp-block-group.wp-block-post-meta {
  gap: 1.75rem;
}

.wp-block-group.post-navigation-link-container {
  margin-top: var(--wp--custom--spacing--wp-block-navigation-widget);
  margin-bottom: var(--wp--custom--spacing--wp-block-navigation-block);
}

.wp-block-post-comments.is-style-sportspot-post-comments .comment-metadata,
.wp-block-post-comments.is-style-sportspot-post-comments .comment-metadata {
  color: var(--wp--preset--color--tertiary);
  font-size: var(--wp--preset--font-size--tiny);
  line-height: 1.62;
}

.wp-block-post-comments.is-style-sportspot-post-comments .comment-metadata a,
.wp-block-post-comments.is-style-sportspot-post-comments .comment-metadata a {
  text-decoration: none;
}

.wp-block-post-comments .comment-author .avatar {
  @include border(50%);
  height: 65px;
  float: left;
  margin-right: 21px;
  overflow: hidden;
  width: 65px;
}

.wp-block-post-author__avatar img {
  border-radius: 50%;
  height: clamp(85px, 8vw, 150px);
  width: clamp(85px, 8vw, 150px);
}

.wp-block-post-author__avatar {
  margin-right: clamp(21px, 3vw, 35px);
}

.wp-block-post-author__name,
.wp-block-latest-comments__comment-author,
.wp-block-post-comments .comment-meta .fn,
.wp-block-latest-comments__comment-link,
.wp-block-latest-comments__comment-meta,
.comment-author .says {
  font-size: var(--wp--preset--font-size--medium);
  font-weight: var(--wp--custom--typography--font-weight--normal);
  font-family: var(--wp--preset--font-family--russo-one);
  text-transform: capitalize;
}

.wp-block-post-comments .comment-meta .fn {
  text-transform: capitalize;
}

.comment-metadata,
.comment-metadata .edit-link {
  font-size: var(--wp--preset--font-size--tiny);
  margin-top: 8px;
}

.comment-respond {
  padding: clamp(45px, 7vw, 75px);
}

.wp-block-post-comments #comments {
  font-size: var(--wp--preset--font-size--extra-large);
  margin-top: var(--wp--custom--spacing--wp-block-navigation-widget);
  margin-bottom: var(--wp--custom--spacing--wp-block-navigation-block);
}

.comment-reply-title,
.logged-in-as,
.comment-notes {
  text-align: center;
}

.woocommerce-Reviews .comment-notes {
  text-align: left;
}

.wp-block-post-comments {

  ul,
  ol {
    list-style-type: none;
  }
}

.commentlist {
  margin-top: 0;
}

.post-navigation-link__title {
  font-family: var(--wp--preset--font-family--russo-one);
  font-weight: var(--wp--custom--typography--font-weight--normal);
}

.wp-block-post-comments.is-style-sportspot-post-comments .comment-metadata>*:not(:last-child),
.wp-block-post-comments.is-style-sportspot-post-comments .comment-metadata>*:not(:last-child) {
  padding-right: 10px;
}

.wp-block-post-comments.is-style-sportspot-post-comments .reply,
.wp-block-post-comments.is-style-sportspot-post-comments .reply {
  font-size: var(--wp--preset--font-size--small);
}

.wp-block-post-comments.is-style-sportspot-post-comments .reply a,
.wp-block-post-comments.is-style-sportspot-post-comments .reply a {
  font-weight: var(--wp--custom--typography--font-weight--bold);
  text-decoration: none;
  text-transform: uppercase;
}

.wp-block-post-comments.is-style-sportspot-post-comments .comment-respond {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  padding-top: var(--wp--custom--spacing--wp-comment-vertical);
  padding-right: var(--wp--custom--spacing--wp-comment-horizontal);
  padding-bottom: var(--wp--custom--spacing--wp-comment-vertical);
  padding-left: var(--wp--custom--spacing--wp-comment-horizontal);
}

.wp-block-post-comments.is-style-sportspot-post-comments .comment-respond .comment-form,
.wp-block-post-comments.is-style-sportspot-post-comments .comment-respond .comment-form {
  font-size: var(--wp--preset--font-size--upper-heading);
}

.wp-block-post-comments.is-style-sportspot-post-comments .comment-respond .comment-form a,
.wp-block-post-comments.is-style-sportspot-post-comments .comment-respond .comment-form .logged-in-as,
.wp-block-post-comments.is-style-sportspot-post-comments .comment-respond .comment-form .comment-notes,
.wp-block-post-comments.is-style-sportspot-post-comments .comment-respond .comment-form .comment-form-cookies-consent {
  font-size: var(--wp--preset--font-size--extra-small);
  text-decoration: none;
}

.wp-block-post-comments.is-style-sportspot-post-comments .comment-respond .comment-form .logged-in-as a {
  text-decoration: underline;
}


/* --- WP Block Latest Comments Style
-------------------------------------------------------- */

.wp-block-latest-comments.is-style-sportspot-latest-comments,
.wp-block-latest-comments.is-style-sportspot-latest-comments {
  margin-top: 0;
  padding: 0;
}

.wp-block-latest-comments.is-style-sportspot-latest-comments a,
.wp-block-latest-comments.is-style-sportspot-latest-comments a {
  text-decoration: none;
}

.wp-block-latest-comments.is-style-sportspot-latest-comments .wp-block-latest-comments__comment,
.wp-block-latest-comments.is-style-sportspot-latest-comments .wp-block-latest-comments__comment {
  border-bottom: 1px solid var(--wp--preset--color--border-color);
  margin-bottom: 0;
  padding-bottom: var(--wp--custom--spacing--normal);
  padding-top: var(--wp--custom--spacing--normal);
}

.wp-block-latest-comments.is-style-sportspot-latest-comments .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt>*:last-child,
.wp-block-latest-comments.is-style-sportspot-latest-comments .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt>*:last-child {
  margin-bottom: 0;
}

.wp-block-latest-comments.is-style-sportspot-latest-comments .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt,
.wp-block-latest-comments.is-style-sportspot-latest-comments .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt {
  margin-top: 20px;
}

.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt,
.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta {
  margin-left: 4.25em;
}

.comment-body a {
  text-decoration: none;
}

.wp-block-latest-comments .avatar,
.wp-block-latest-comments__comment-avatar {
  height: 65px;
  width: 65px;
}

.wp-block-latest-comments.is-style-sportspot-latest-comments .wp-block-latest-comments__comment .wp-block-latest-comments__comment-date,
.wp-block-latest-comments.is-style-sportspot-latest-comments .wp-block-latest-comments__comment .wp-block-latest-comments__comment-date {
  font-size: var(--wp--preset--font-size--tiny);
  margin-top: 7px;
}

.wp-block-latest-comments.is-style-sportspot-latest-comments .wp-block-latest-comments__comment .wp-block-latest-comments__comment-author,
.wp-block-latest-comments.is-style-sportspot-latest-comments .wp-block-latest-comments__comment .wp-block-latest-comments__comment-author {
  color: var(--wp--preset--color--foreground);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  line-height: var(--wp--custom--typography--line-height--paragraph);
}

/* --- WP Block Quote Style
-------------------------------------------------------- */

.wp-block-quote.is-style-sportspot-block-quote p,
.wp-block-quote.is-style-sportspot-block-quote p {
  font-size: var(--wp--preset--font-size--content-heading);
  font-weight: var(--wp--custom--typography--font-weight--semi-bold);
  font-style: italic;
  line-height: var(--wp--custom--typography--line-height--paragraph);
  margin-top: 0;
}

.wp-block-quote.is-style-default:not(.is-style-plain),
.wp-block-quote.is-style-large:not(.is-style-plain),
.wp-block-quote:not(.is-style-plain) {
  border: 0;
  position: relative;
  padding-top: 90px;

  &:before {
    color: var(--wp--preset--color--secondary-text-color);
    border-radius: 50%;
    content: "\201C";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110px;
    font-style: normal;
    font-weight: var(--wp--custom--typography--font-weight--bold);
    line-height: 1;
    left: var(--wp--custom--spacing--section-heading-gap);
    opacity: 0.2;
    text-align: center;
    position: absolute;
    top: var(--wp--custom--spacing--normal);
  }
}

.wp-block-quote.is-style-plain {
  background-color: transparent;
}

.wp-block-pullquote.has-text-align-left:not(blockquote) {
  border-width: 0;
  border-left-width: 4px;
}

.wp-block-pullquote.has-text-align-center {
  border-left: 0;
  border-right: 0;
}

.wp-block-pullquote.is-style-solid-color blockquote {
  max-width: 100%;
}

.wp-block-pullquote.alignright.has-text-align-left,
.wp-block-pullquote.alignright.has-text-align-right {
  border: 0;
}

.wp-block-pullquote.has-text-align-right:not(blockquote) {
  border-width: 0;
  border-right-width: 4px;
}

.wp-block-quote.has-text-align-right,
.wp-block-quote.has-text-align-right.is-style-large:not(.is-style-plain),
.wp-block-quote.has-text-align-right:not(.is-style-plain) {
  &:before {
    left: auto;
    right: var(--wp--custom--spacing--section-heading-gap);
  }
}

figure.wp-block-pullquote.alignleft:not(.has-text-align-center) blockquote,
figure.wp-block-pullquote.has-text-align-left blockquote {
  margin: 0;
  text-align: left;
}

figure.wp-block-pullquote.alignright:not(.has-text-align-center) blockquote,
figure.wp-block-pullquote.has-text-align-right blockquote {
  margin: 0;
  text-align: right;
}

figure.wp-block-pullquote.aligncenter blockquote,
figure.wp-block-pullquote.has-text-align-center blockquote {
  text-align: center;
}

figure.wp-block-pullquote.has-text-align-left {

  blockquote,
  p {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.wp-block-quote {
  text-align: left;

  &.has-text-align-right {
    text-align: right;
  }

  &.has-text-align-center {
    text-align: center;
  }
}

.wp-block-quote.has-text-align-center:before,
.wp-block-quote.has-text-align-center.is-style-large:not(.is-style-plain):before,
.wp-block-quote.has-text-align-center:not(.is-style-plain):before {
  left: 50%;
  transform: translateX(-50%);
}

/* --- WP Block Seperator Style
-------------------------------------------------------- */

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  opacity: 1;
  width: 80px;

  &.is-style-default {
    width: 80px;
  }
}

.section-heading .wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  margin-left: 0;

  &.is-style-default {
    margin-left: 0;
    margin-top: 30px;
  }
}

/* --- WP Block Pullquote Style
-------------------------------------------------------- */
.wp-block-pullquote p {
  line-height: var(--wp--custom--typography--line-height--paragraph);
  margin-top: 0;
  margin-bottom: 0;
}

.wp-block-pullquote cite,
.wp-block-pullquote footer,
.wp-block-pullquote .wp-block-pullquote__citation {
  font-size: var(--wp--preset--font-size--small);
  text-transform: none;
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright,
.wp-block[data-align="left"] .wp-block-pullquote,
.wp-block[data-align="right"] .wp-block-pullquote {
  border-bottom: 0;
  background-color: var(--wp--preset--color--secondary-bg-color);
  border-top: 0;
  position: relative;
  padding-top: 100px;

  &:before {
    color: var(--wp--preset--color--secondary-text-color);
    border-radius: 50%;
    content: "\201C";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: var(--wp--custom--typography--font-weight--bold);
    line-height: 1.4;
    opacity: 0.2;
    left: var(--wp--custom--spacing--section-heading-gap);
    text-align: center;
    position: absolute;
    top: 20px;
  }

  blockquote {
    margin: 0;
  }
}

.wp-block-pullquote.alignright {
  &:before {
    left: auto;
    right: var(--wp--custom--spacing--section-heading-gap);
  }
}

.wp-block-pullquote.has-text-align-center {
  padding-top: var(--wp--custom--spacing--normal);

  &:before {
    display: none;
  }
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.has-text-align-left,
.wp-block[data-align="left"] .wp-block-pullquote {
  margin-right: 0;
}

.wp-block-pullquote.alignright,
.wp-block-pullquote.has-text-align-right,
.wp-block[data-align="right"] .wp-block-pullquote {
  margin-left: 0;
}

/* --- WP Block Table Style
-------------------------------------------------------- */

.wp-block-table.is-style-sportspot-wp-table td,
.wp-block-table.is-style-sportspot-wp-table th,
.wp-block-table.is-style-sportspot-wp-table td,
.wp-block-table.is-style-sportspot-wp-table th {
  border-color: var(--wp--preset--color--border-color);
  padding: 0.5em 1.4em;
}

.wp-block-table.is-style-sportspot-wp-table th:not(.has-text-align-left):not(.has-text-align-right):not(.has-text-align-center),
.wp-block-table.is-style-sportspot-wp-table th:not(.has-text-align-left):not(.has-text-align-right):not(.has-text-align-center) {
  text-align: left;
}

.wp-block-table.is-style-sportspot-wp-table thead,
.wp-block-table.is-style-sportspot-wp-table thead {
  border-bottom-color: var(--wp--preset--color--border-color);
}

.wp-block-table tfoot {
  border-top-color: var(--wp--preset--color--border-color);
}

.wp-block-table.is-style-sportspot-wp-table th,
.wp-block-table.is-style-sportspot-wp-table th {
  font-weight: var(--wp--custom--typography--font-weight--semi-bold);
  color: var(--wp--preset--color--dark-color);
}

.wp-block-table.is-style-sportspot-wp-table table,
.wp-block-table.is-style-sportspot-wp-table table {
  border: 1px solid var(--wp--preset--color--border-color);
}

/* --- WP Block Preformatted and Verse Style
-------------------------------------------------------- */

.wp-block-preformatted.is-style-sportspot-wp-preformatted,
.wp-block-verse.is-style-sportspot-wp-verse,
.wp-block-preformatted.is-style-sportspot-wp-preformatted,
.wp-block-verse.is-style-sportspot-wp-verse {
  background-color: var(--wp--preset--color--secondary-bg-color);
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
  overflow: auto;
  padding: var(--wp--custom--spacing--extra-small);
  word-wrap: break-word;
}

/* --- WP Column Block Style
-------------------------------------------------------- */
.wp-block-column {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* --- WP Block Search Style
-------------------------------------------------------- */

.wp-block-navigation__submenu-container {
  display: none;
}

button[aria-expandd="true"] .wp-block-navigation__submenu-container {
  display: block;
}

.wp-site-blocks>*+* {
  margin-block-start: 0;
}