<!-- wp:template-part {"slug":"primary-header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"sportspot/404-header-with-background"} /-->

<!-- wp:group {"align":"full","tagName":"main"} -->
<main class="wp-block-group alignfull">
  <!-- wp:group {"tagName":"div"} -->
  <div class="wp-block-group">
    <!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group">
      <!-- wp:pattern {"slug":"sportspot/hidden-404"} /-->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-three-columns","tagName":"footer"} /-->