<!-- wp:template-part {"slug":"primary-header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"front-main","layout":{"inherit":"true"}} -->
<main class="wp-block-group front-main">

  <!-- wp:pattern {"slug":"sportspot/header-media"} /-->
  <!-- wp:pattern {"slug":"sportspot/hero-content"} /-->
  <!-- wp:pattern {"slug":"sportspot/best-seller-product"} /-->
  <!-- wp:pattern {"slug":"sportspot/logo"} /-->
  <!-- wp:pattern {"slug":"sportspot/featured-content"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-three-columns","tagName":"footer"} /-->