<!-- wp:template-part {"slug":"primary-header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"sportspot/post-header-with-background"} /-->

<!-- wp:group {"tagName":"main", "className":"inner-main"} -->
<main class="wp-block-group inner-main">
    <!-- wp:group {"align":"full","layout":{"inherit":true}} -->
    <div class="wp-block-group alignfull">
        <!-- wp:woocommerce/legacy-template {"template":"order-confirmation"} /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->



<!-- wp:template-part {"slug":"footer-three-columns","tagName":"footer"} /-->