// FOR CONTACT FORM

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  text-transform: uppercase;
  font-size: var(--wp--preset--font-size--medium);
  font-family: var(--wp--preset--font-family--montserrat);
  font-weight: var(--wp--custom--typography--font-weight--bold);
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-transform: uppercase;
  font-size: var(--wp--preset--font-size--medium);
  font-family: var(--wp--preset--font-family--montserrat);
  font-weight: var(--wp--custom--typography--font-weight--bold);

}

:-ms-input-placeholder {
  /* IE 10+ */
  text-transform: uppercase;
  font-size: var(--wp--preset--font-size--medium);
  font-family: var(--wp--preset--font-family--montserrat);
  font-weight: var(--wp--custom--typography--font-weight--bold);

}

:-moz-placeholder {
  /* Firefox 18- */
  text-transform: uppercase;
  font-size: var(--wp--preset--font-size--medium);
  font-family: var(--wp--preset--font-family--montserrat);
  font-weight: var(--wp--custom--typography--font-weight--bold);

}

form.wpcf7-form {
  label {
    color: var(--wp--preset--color--dark-color);
    font-weight: var(--wp--custom--typography--font-weight--bold);
    font-size: var(--wp--preset--font-size--medium);
  }

  input[type=submit] {
    border-color: var(--wp--preset--color--hover-color);
    color: var(--wp--preset--color--dark-color);
  }

  textarea {
    max-height: 120px;
  }

  br {
    display: none;
  }

  span.wpcf7-not-valid-tip {
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 0;
  }

  p {
    margin: 20px 0;
    position: relative;
  }
}

.wp-block-sidebar .wp-block-search__input {
  background: transparent;
  border: 1px solid var(--wp--preset--color--tertiary);
}

// FOR SOCIAL LINKS

body .wp-block-social-links {
  gap: 9px;
}

.wp-block-social-links:not(.is-style-logos-only):not(.is-style-pill-shape):not(.is-style-circle-shape) .wp-social-link {
  background-color: var(--wp--preset--color--hover-color);
  border: 1px solid transparent;
  overflow: hidden;
  @include border(45px);

  &:is(:hover, :focus) {
    border-color: var(--wp--preset--color--hover-color);
    background: transparent;

    svg {
      fill: var(--wp--preset--color--hover-color);
    }
  }

  button {
    overflow: hidden;
    padding: 0;
    position: relative;
    @include transition(0.5s ease-in-out);
  }
}

.wp-block-social-links:not(.is-style-logos-only):not(.is-style-pill-shape):not(.is-style-circle-shape) .wp-social-link .wp-block-social-link-anchor {
  @include border(45px);
  padding: 0.5rem;

}

.wp-block-social-links:not(.is-style-logos-only) .wp-social-link .clone {
  padding: 0;
  position: absolute;
  @include transform(translateY(400%));
}

.wp-block-social-links:not(.is-style-logos-only):not(.is-style-pill-shape):not(.is-style-circle-shape) .wp-social-link .components-button,
.wp-block-social-links:not(.is-style-logos-only):not(.is-style-pill-shape):not(.is-style-circle-shape) .wp-social-link a,
.wp-block-social-links.is-style-default .wp-social-link .components-button,
.wp-block-social-links.is-style-default .wp-social-link a {
  background-color: transparent;
}